h1 {
  color: #011936;
  letter-spacing: 1px;
  text-shadow: 2px 2px #7899BA;
}

body {
  background-color: #99DBFF;
}

img:hover {
  width: 200px;
}




nav {
  list-style-type: none;
  width: 100%;
  background-color: #19364D;
  position:fixed;
  top: 0;
  left: 0;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  float: left;
}

li a:hover {
  background-color: #A5C6DF;
  color: black;
}
